<body>

    
    <div class="container">
          <!-- Example row of columns -->
          <div class="row marketing">
                  <% @output_text.each do |post| %>
            <div class="col-lg-4">
              <h2><%= post.name %></h2>
              <img src="<%= post.img %>" class="img-thumbnail" width="500">
             
              <p><%= post.content %></p>
             <p><a class="btn btn-sm btn-default" href="/home/detail/<%= post.id %>" role="button">자세히 보기</a></p>
              
            </div>
            
          <%end%>
          
          </div>
    </div>  
    
    <%= render :partial =>"home/basic"%>

</body>