<div class="container">
    <div class="jumbotron">
      <img src="<%= @stars.img %>" width="100%">
      <h1><%= @stars.name %></h1>
      <p class="lead"><%= @stars.content %></p>
      
      

      
    
  <%= form_tag "/home/twin", method: "POST" do%>
  <input type="hidden" name="tv_id" value="<%= @stars.id %>">
    <span class="star-rating">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
    <br><br>
    <input type="text" class="form-control" name="msg" placeholder="별점 체크 후 평가를 남겨주세요">
    <br><br>
    
      <% @mycomment.each do |comment| %>
       <p><%= comment.comment %></p><br>
      <% end %>
    
  
    <button class="btn btn-default" href="#" role="button">평가하기</button>
  <% end %>
  
  
    
    </div>
</div>





  <%= render :partial =>"home/basic"%>
  