
<%= @map_post.name %>
<%= @map_post.menu %>
<%= @map_post.mail %>
<%= @map_post.address %>

    <a href ="/map/map_update/<%= @map_post.id%>"><button type="submit" class="btn btn-default">수정하기</button></a>

    
    <a href = '/map/map_delete/<%= @map_post.id %>'><button type="submit" class="btn btn-default">삭제</button></a>

    <a href= '/map/map_list'><button type="submit" class="btn btn-default">게시판으로 돌아가기</button></a>
